@model Data.Lib.Entity.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div class="alert alert-success" role="alert">
        <h4> @Model.BookName Details Information</h4>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
