@model Data.Lib.Entity.Account

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.FatherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FatherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.NationalNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.NationalNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PaymentAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PaymentAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PaymentMethod.PaymentMethodName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PaymentMethod.PaymentMethodName)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
